html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
    flex: 1;
    width: 20%;
}

.content {
    flex: 2;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }
}

.nav {
    margin-top: 50px;
    width: 100%;
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nav .prev {
    display: block;
    width: 50px;
    height: 26px;
    padding-top: 4px;
    background: rgb(1, 4, 93);
}

.nav .center {
    display: block;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    height: 26px;
    padding-top: 4px;
    background: rgb(1, 4, 93);
}

.nav .next {
    display: block;
    width: 50px;
    height: 26px;
    padding-top: 4px;
    background: rgb(1, 4, 93);
}

.nav p {
    margin: 0;
}