html {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ffffff;
    text-decoration: none;
}

table {
    color: #151515;
}

a {
    text-decoration: none;
}

p {
    color: #151515;
}