body {
    margin: 0 !important;
    padding: 0 !important;
    background: #00b0ff;
}

.wrapper {
    font-family: 'Open Sans', sans-serif;
}

.wrapper .box {
    width: 400px;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    border-radius: 30px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animate;
    animation-duration: 0.4s
}

@keyframes animate {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.login-form {
    padding: 50px;
}

form .login-input, form .password-input {
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

form .button {
    outline: 0;
    background: #00b0ff;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

form .button:hover, form .button:active, form .button:focus {
    background: #0096dd;
}

form .message {
    color: red;
    font-size: 15px;
    margin: 0 0 15px;
}

#stars {
    background: #00b0ff;
    width: 100%;
    z-index: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#stars:hover {
    background: #0096dd;
}