<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Trip Optimization</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/employees.css" th:href="@{/css/employees.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/sidebar.css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/table.css" th:href="@{/css/table.css}"/>
</head>
<body>

<div class="wrapper">

    <nav class="sidebar" id="sidebar" th:insert="sidebar :: sidebar"></nav>

    <div class="content">
        <table class="fl-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department : ${departments}">
                <td th:text="${department.id}"></td>
                <td th:text="${department.name}"></td>
                <td th:text="${department.description}"></td>
            </tr>
            <tbody>
        </table>
    </div>


</div>

</body>
</html>